*{
    padding: 0;
    margin: 0;
}
.opis {
    margin-top: 20px;
}
em {
    font-size: 12px;
}
.dodaj {
    background-color: #bce8f1;
    padding: 15px;
    margin-top: 20px;
}
.ng-invalid.ng-dirty {
     border: 1px solid red;
 }
.dodaj textarea {
    width: 100%;
}
.ng-show {
    color: red
}